* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  z-index: 999999999;
}

.navbar-brand img {
  width: 166px;
  height: 60px;
}

.nav-item a {
  font-size: 18px;
  font-weight: 700;
  color: #4a4a4a;
}
.nav-item a:hover {
  color: #a21d20;
}

.custom-button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border-width: 0;
  background-color: #a21d20;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.hero-main {
  height: 480px;
  background: url("/Images/banner.png") center center no-repeat;
  color: #fff;
}

.container, .row {
  height: 100%;
}

.hero-left-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right-section {
  height: 480px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(162, 29, 32, 0.25);
}
.hero-right-section h1 {
  font-size: 24px;
}
.hero-right-section p {
  font-size: 16px;
  color: #c5c5c5;
}

.hero-read-me-btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 34px;
  color: #fff;
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
@media screen and (width <= 900px) {
  .hero-read-me-btn {
    font-size: 12px;
    padding: 0.25rem 1rem;
  }
}
.hero-read-me-btn:hover {
  color: #a21d20;
  background-color: #fff;
}

.cards-mask {
  background: url("/Images/Artboard 3.png") no-repeat;
  background-size: contain;
  color: #4a4a4a;
}
.cards-mask div {
  max-height: 440px;
  background-color: rgba(240, 242, 242, 0.95);
  border-radius: 16px;
  padding: 6rem 2rem;
}
.cards-mask div h1 {
  font-weight: 700;
  font-size: 32px;
}
.cards-mask div p {
  font-size: 16px;
}
@media screen and (width <= 900px) {
  .cards-mask div {
    padding: 2rem;
    max-height: unset;
  }
}

.hero-slides-wrapper {
  height: 480px;
  text-align: center;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#slide1, #slide2, #slide3, #slide4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 480px;
  width: 100%;
}

.latest-highlets-carousel h1 {
  font-size: 18px;
  font-weight: 700;
  color: #4a4a4a;
}

.video-wrapper {
  background: url("/Images/video-bg.jpg") center center no-repeat;
  height: 30rem;
  overflow: hidden;
  border-radius: 30px;
}
.video-wrapper .mask {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.video-wrapper .mask .person {
  background: url("/Images/video-person.png") center center no-repeat;
  background-size: cover;
  height: 100%;
}

.three-card-content {
  color: #4a4a4a;
}
.three-card-content h1 {
  font-size: 32px;
  font-weight: 600;
}

.three-cards {
  width: 100%;
  color: #fff;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: all 3s ease;
}
.three-cards p {
  font-size: 16px;
  color: #c5c5c5;
  transition: all 0.5s ease;
}
.three-cards p strong {
  font-size: 18px;
}
.three-cards .read-more {
  display: flex;
}
.three-cards:hover {
  background-size: 120%;
}
.three-cards:hover .read-more-text {
  color: #a21d20;
}
.three-cards:hover .down-arrow {
  background-color: #a21d20;
  border-color: #a21d20;
}

.card-1 {
  background: url("/Images/card-bg-1.png") center center no-repeat;
}

.card-2 {
  background: url("/Images/card-bg-2.png") center center no-repeat;
}

.card-3 {
  background: url("/Images/card-bg-3.png") center center no-repeat;
}

.down-arrow {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 26px;
  margin-left: 8px;
  transition: all 0.5s ease;
}
.down-arrow img {
  transform: rotate(270deg);
}

.main-carousel .carousel-caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-carousel .carousel-caption h5 {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (width <= 900px) {
  .main-carousel .carousel-caption h5 {
    font-size: 12px;
  }
}
.main-carousel .carousel-caption p {
  font-size: 2rem;
  color: #c5c5c5;
}
@media screen and (width <= 900px) {
  .main-carousel .carousel-caption p {
    font-size: 12px;
    display: none;
  }
}
.main-carousel .carousel-caption img {
  height: 32px;
  margin-bottom: 1rem;
}
@media screen and (width <= 900px) {
  .main-carousel .carousel-caption img {
    height: 22px;
    display: none;
  }
}

@media screen and (width <= 900px) {
  .three-card-content, .three-cards {
    margin-left: 0;
    margin-bottom: 1rem;
    background-size: cover;
  }
  .card-1 {
    margin-top: 1rem;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  border: 1px solid #fff;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-next-btn, .my-prev-btn {
  color: #a21d20;
  border-radius: 50%;
  border: 2px solid #a21d20;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.my-next-btn:hover, .my-prev-btn:hover {
  color: #fff;
  background-color: #a21d20;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.carousel-control-next-icon:after {
  content: ">";
}

.carousel-control-prev-icon:after {
  content: "<";
}

.main-carousel .active {
  background-color: #a21d20 !important;
}

.indicators {
  height: 6px !important;
  border-radius: 10px !important;
}

.next-step-wrapper {
  background: url("/Images/next-steps-bg-img.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-step-mask {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  color: #4a4a4a;
}
.next-step-mask div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.next-step-mask h1 {
  font-size: 32px;
  font-weight: bold;
}
.next-step-mask p {
  font-size: 18px;
}

.hero-carousel-slide-btns {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 8rem;
  padding: 1rem;
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.hero-carousel-slide-btns h4 {
  font-weight: bold;
  font-size: 14px;
}
.hero-carousel-slide-btns:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.latest-highlets-carousel-wrapper {
  height: 10rem;
}

.latest-highlets-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.latest-highlets-carousel div {
  width: 70%;
  border-right: 1px solid #c0bdbd;
}
.latest-highlets-carousel img {
  width: 16vw;
  height: 100%;
  padding: 1rem;
}
.latest-highlets-carousel .lh-s3-i {
  height: 7rem;
}

.latest-highlets-readmore-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.latest-highlets-readmore-wrapper p {
  color: #4a4a4a;
  font-size: 14px;
  margin: 0.5rem;
  font-weight: bold;
}
.latest-highlets-readmore-wrapper button {
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  color: #a21d20;
  border: 2px solid #a21d20;
  background-color: transparent;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-highlets-readmore-wrapper:hover p {
  color: #a21d20;
}
.latest-highlets-readmore-wrapper:hover button {
  color: #fff;
  background-color: #a21d20;
}

#footer-wrapper {
  font-family: roboto;
  letter-spacing: 1px;
  background-color: #2a2a2a;
  color: #fff;
}
#footer-wrapper .semi-bold {
  font-size: 14px;
  color: #c5c5c5;
}
#footer-wrapper ul li {
  list-style: none;
}
#footer-wrapper ul li a {
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #7d7d7d;
}
#footer-wrapper .footer-info {
  font-size: 14px;
  font-weight: 500;
  color: #c5c5c5;
}
#footer-wrapper .social-icons {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  background: #3B5998;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 16px;
}
#footer-wrapper .social-icons:hover {
  opacity: 0.7;
}
#footer-wrapper .social-icons .fa {
  color: #fff;
}
#footer-wrapper .footer-pp {
  text-align: right;
  font-size: 14px;
  color: #ccc;
}/*# sourceMappingURL=index.css.map */